<%= simple_form_for(@prescription) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :patient_id,  value: "#{@patient.id}" %>
    <h3>Ilaclar</h3>
    <div id="drugs">
      <%= f.simple_fields_for :drugs do |drug| %>
         <%= render "drug_fields", f: drug %>
         <div class="links">
           <%= link_to_add_association 'Ilac Ekle', f, :drugs %>
         </div>
      <% end %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit "Olustur" %>
    <%= hidden_field_tag :tc_no, params[:patient_tc_no] %>
  </div>
<% end %>