<h1><%= @doctor.full_name %></h1>

<div class="short-form">
  <%= simple_form_for :patient, method: "get", url: search_patient_path, html: { class: "form-horizontal" } do |f| %>
    <%= f.input :tc_no, label: "Hasta TC Kimlik No", as: :string %>
    <%= f.submit "Ara", class: "btn btn-primary btn-medium pull-right" %>
  <% end %>
</div>

<p><%= link_to "Cikis", destroy_doctor_session_path, method: :delete, class: "btn btn-primary btn-small" %></p>